.bg-slider{
    background-color: #fceae8;
}
.btn-color{
    background-color: #ff4356;
    color: #ffffff;
}
.bg-bag{
    background-color: #da70d6;
}
.bg-shoes{
    background-color: #0000ff;
}
footer h1{
    color: #ff4356;
}